
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=DM Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
 
:root {
     --pbmit-global-color: #fb8cc2;
     --pbmit-secondary-color: #0c0833;
     --pbmit-light-color: #f9faff;
     --pbmit-blackish-color: #0c121d;
     --pbmit-link-color-normal: #0c0367;
     --pbmit-link-color-hover: #fb8cc2;
     --pbmit-global-color-rgb: 251, 140, 194;
     --pbmit-secondary-color-rgb: 12, 8, 51;
     --pbmit-responsive-breakpoint: 1200px;
     --pbmit-body-typography-font-family:'Mulish', sans-serif;
     --pbmit-body-typography-variant: regular;
     --pbmit-body-typography-font-size: 16px;
     --pbmit-body-typography-line-height: 26px;
     --pbmit-body-typography-color: #787c8b;
     --pbmit-heading-typography-font-family: 'Quicksand', sans-serif;
     --pbmit-heading-color: #353b6e;
     --pbmit-heading-font-variant: 800;
     --pbmit-btn-typography-font-family: 'Quicksand', sans-serif;
     --pbmit-btn-typography-variant: 800;
     --pbmit-btn-typography-font-size: 13px;
     --pbmit-btn-typography-line-height: normal;
}

